table, td {
	/* top | right | bottom | left */
	border-top: 1px inset gray;
}

td, caption {
	padding: 5px;
}

div {
	text-align: justify;
	text-justify: inter-word;
}

.col {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.italic {
	font-style: italic;
}

 .catch {
	text-align: right;
 }

 .sig { 
	text-align: center;
}

p {
	text-indent: 30px;
}
